body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.center {
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    padding-bottom: 214px;
    background-image: url(../img/bg.png);
}

.title {
    margin-bottom: 40px;
}

.info-item, 
.info-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.info-link {
    text-decoration: none;
}

.info-link:hover{
    color: #30a3f0;
}

.info-left .info-item {
    margin-right: 32px;
}

.info-right .info-item {
    margin-left: 17px;
}

.info {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    align-items: center;
}

.head {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 25px;
    margin-bottom: 220px;
}

.nav {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.nav-item {
    margin-left: 8px;
}
  
.nav-link {
    color: #444444;
    text-decoration: none;
    padding: 11px 19px 12px;
    border: 1px solid transparent;
}

.nav-link.active {
    color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 11px 19px 12px;
}

.nav-link:hover {
    color: #30a3f0;
    border: 1px solid transparent
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title p {
    font-family: 'Raleway', sans-serif;
    color: #30a3f0;
    font-size: 18px;
}

.title h1 {
    text-transform: uppercase;
    font-weight: 800;
    max-width: 720px;
    font-size: 45px;
    color: #fff;
    line-height: 60px;
    margin: 0 auto;
}

.element {
    width: 1px;
    height: 100px;
    background-color: #2a88c8;
    margin: 0 auto;
}

.element-top {
    margin-bottom: 30px;
}

.element-bottom {
    margin-top: 32px;
}

.btn {
    font-size: 14px;
    font-weight: 700;
    color: #30a3f0;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 20px 42px;
}

.btn:hover {
    background-color: #30a3f0;
    color : #fff;
}

.page-line {
    border-bottom: 1px solid #e4e4e4;
}

.box {
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.box-item {
    flex-basis: 33%;
    padding: 0 60px 110px;
}

.box-item-center {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.box h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 27px;
}

.title-h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.title-h2 span {
    text-transform: initial;
    font-size: 16px;
    color: #30a3f0;
    display: block;
    font-weight: 400;
    margin-bottom: 18px;
}

.line {
    display: block;
    width: 53px;
    height: 16px;
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
}

.description {
    color: #707070;
}

.list-description {
    color: #222222;
}
